:root {
  font-size: calc(14px + 14 * (100vw - 780px) / 1440);
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 {
  color: white;
  margin: 0;
  padding: 0;
  margin-top: 50vh;
  font-family: "arial";
  height: 100vh;
}
h1 .invis {
  height: 1em;
}
h1 div {
  -webkit-transform-origin: center top;
          transform-origin: center top;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}