:root {
  font-size: calc(14px + 14 * (100vw - 780px) / 1440);
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

figure {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
figure img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
  margin: 0;
  padding: 0;
  font-size: 2200%;
  font-family: "arial";
  height: 100vh;
}
h1 .invis {
  height: 1em;
}
h1 div {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.has-js h1 div {
  margin-bottom: 200vh;
}
.has-js .long-duration {
  margin-bottom: 400vh;
}