:root {
	font-size: calc(14px + 14 * (100vw - 780px) / 1440);
}

body{
  background-color: black;   
  margin:0;
  padding:0;
  overflow-x:hidden;
}

h1{
  color:white;    margin:0;
  padding:0;

  font-family:'arial';
  height:100vh;

  .invis{
    height:1em;
  }
  div{
transform-origin: center top;
    margin:0;
    padding:0;
    width:100vw;
    height:100vh;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
